=> USER <=
1. name
2. email
3. passworld
4. profile picture
5. favourit list
6. position [user || admin]

=> VIDEO <=
1. video source
2. title
3. description
4. views
5. author id

// upload, update, delete, all, single

=> COMMENT <=
1. type [comment || reply]
2. resource id 
3. author id
4. text

// create, delete, get single